<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoBox"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VideoBox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VideoBox" />

        <activity
            android:name=".ui.SourceManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SourceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CategoryBlockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CategoryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".player.PlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.AdBlockListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PlayerFlagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SourcePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".player.LivePlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".ui.LiveSourceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.LiveBlockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
